* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(80, 80, 80);
}

.jeu {
  margin: auto;
  border: solid 1px black;
  width: 700px;
  height: 400px;
  position: relative;
  background-image: url(../images/imageBackground.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  /* animation: defile 500s infinite linear; */
}

/* Animation pour faire bouger l'image de fond */
@keyframes defile {
  from {background-position: 0px 0px;}
  to {background-position: -10000px 0px;}
}

.perso {
  /* background-color: blue; */
  height: 100px;
  width: 50px;
  position: absolute;
  bottom: 95px;
  left: 100px;
  /* animation: seBaisser 700ms infinite; */
}

.sauter {
  animation: saut 700ms;
}

.seBaisser {
  animation: seBaisser 700ms;
}

.personnage {
  width: 100%;
  height: 100%;
}

.obstacle {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 95px;
  left:650px;
  /* animation: obstacle 2s infinite linear; */
  visibility: hidden;
}

.obstacle4 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 95px;
  left: 650px;
  /* animation: obstacle 2s infinite linear; */
  visibility: hidden;  
}

.obstacle2 {
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  position: absolute;
  bottom: 170px;
  left: 650px;
  /* animation: obstacle 2s infinite linear; */
  visibility: hidden;
}

.obstacle5 {
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  position: absolute;
  bottom: 170px;
  left: 650px;
  /* animation: obstacle 2s infinite linear; */
  visibility: hidden;
}

.obstacle3 {
  width: 20px;
  height: 120px;
  background-color: blueviolet;
  position: absolute;
  bottom: 95px;
  left: 650px;
  /* animation: obstacle 2s infinite linear; */
  visibility: hidden;
}

.obstacle6 {
  width: 20px;
  height: 120px;
  background-color: blueviolet;
  position: absolute;
  bottom: 95px;
  left: 650px;
  /* animation: obstacle 2s infinite linear; */
  visibility: hidden;
}

/* Animation de déplacement d'un obstacle */
.animationObstacle {
  animation: obstacle 2s linear;
  visibility: visible;
}

/* Animation de mon premier obstacle */
@keyframes obstacle {
  0% {
    left: 650px;
  }

  100% {
    left: 0px;
  }
}

/* Animation de saut du perso */
@keyframes saut {
  0% {
    bottom: 95px;
  }
  30% {
    bottom: 175px;
  }
  60% {
    bottom: 175px;
  }
  100% {
    bottom: 95px;
  }
}

/* Animation de se baisser du perso */
@keyframes seBaisser {
  0% {
    /* height: 100px; */
  }
  30% {
    height: 50px;
    /* top : 450px; */
  }
  60% {
    height: 50px;
    /* top : 450px; */
  }
  100% {
    /* height: 100px; */
  }
}
