* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(80, 80, 80);
  background-image: url(./images/backgroundSite2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jeu {
  margin: auto;
  margin-top: 50px;
  border: solid 3px rgb(52, 18, 125);
  border-radius: 10px;
  width: 700px;
  height: 400px;
  position: relative;
  background-image: url(./images/imageBackground.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  animation: defile 500s infinite linear;
}

/* Animation pour faire bouger l'image de fond */
@keyframes defile {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -10000px 0px;
  }
}

.perso {
  height: 100px;
  width: 41px;
  position: absolute;
  bottom: 95px;
  left: 100px;
  background-image: url(./images/gojoMove1.png);
  background-repeat: no-repeat;
  animation: marcheParDefaut 1s infinite;
}

@keyframes marcheParDefaut {
  0% {
    background-image: url(./images/gojoMove1.png);
  }
  25% {
    background-image: url(./images/gojoMove2.png);
    width: 34px;
  }
  50% {
    background-image: url(./images/gojoMove3.png);
    width: 43px;
  }
  75% {
    background-image: url(./images/gojoMove4.png);
    width: 42px;
  }
}

.sauter {
  animation: saut 800ms;
}

.seBaisser {
  animation: seBaisser 800ms;
}

.kick {
  animation: kick 700ms;
}

@keyframes kick {
  0% {
    background-image: url(./images/gojoKick1.png);
    width: 52px;
  }
  20% {
    background-image: url(./images/gojoKick2.png);
    width: 71px;
  }
  30% {
    background-image: url(./images/gojoKick3.png);
    width: 84px;
  }
  50% {
    background-image: url(./images/gojoKick4.png);
    width: 93px;
  }
  70% {
    background-image: url(./images/gojoKick5.png);
    width: 85px;
  }
  90% {
    background-image: url(./images/gojoKick6.png);
    width: 55px;
  }
}

.obstacle {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 95px;
  left: 650px;
  visibility: hidden;
  background-image: url(./images/sonic.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.obstacle4 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 95px;
  left: 650px;
  visibility: hidden;
  background-image: url(./images/pacman.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.obstacle2 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 170px;
  left: 650px;
  visibility: hidden;
  background-image: url(./images/canon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.obstacle5 {
  width: 85px;
  height: 50px;
  position: absolute;
  bottom: 170px;
  left: 650px;
  visibility: hidden;
  background-image: url(./images/bouleDeFeu.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.obstacle3 {
  width: 54px;
  height: 100px;
  position: absolute;
  bottom: 95px;
  left: 650px;
  visibility: hidden;
  background-image: url(./images/og-age-of-war.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* animation: obstacle3 1s infinite; */
}


/* Test animation obstacle mais ne fonctionne pas */
/* @keyframes obstacle3 {
  0% {
    background-image: url(./images/aowMove1.png);
  }
  17% {
    background-image: url(./images/aowMove2.png);
    width: 67px;
  }
  34% {
    background-image: url(./images/aowMove3.png);
    width: 69px;
  }
  50% {
    background-image: url(./images/aowMove4.png);
    width: 77px;
  }
  67% {
    background-image: url(./images/aowMove3.png);
    width: 69px;
  }
  84% {
    background-image: url(./images/aowMove2.png);
    width: 67px;
  }
} */

.obstacle6 {
  width: 55px;
  height: 100px;
  position: absolute;
  bottom: 95px;
  left: 650px;
  visibility: hidden;
  background-image: url(./images/titanBestial.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Animation de déplacement d'un obstacle */
.animationObstacle {
  animation: obstacle 2s linear;
  visibility: visible;
}

/* Animation de mon premier obstacle */
@keyframes obstacle {
  0% {
    left: 650px;
  }

  100% {
    left: 0px;
  }
}

/* Animation de saut du perso */
@keyframes saut {
  0% {
    bottom: 95px;
    background-image: url(./images/gojoJump1.png);
    width: 48px;
    height: 75px;
  }
  10% {
    background-image: url(./images/gojoJump2.png);
    height: 90px;
    width: 53px;
  }
  30% {
    bottom: 165px;
    background-image: url(./images/gojoJump3.png);
    width: 45px;
  }
  60% {
    bottom: 165px;
    background-image: url(./images/gojoJump3.png);
    width: 45px;
  }
  80% {
    background-image: url(./images/gojoJump2.png);
    height: 90px;
    width: 53px;
    bottom: 95px;
  }
  100% {
    bottom: 95px;
  }
}

/* Animation de se baisser du perso */
@keyframes seBaisser {
  0% {
    background-image: url(./images/gojoJump2.png);
    width: 53px;
    height: 90px;
  }
  15% {
    background-image: url(./images/gojoJump1.png);
    width: 48px;
    height: 75px;
  }
  30% {
    height: 50px;
    width: 44px;
    background-image: url(./images/gojoBaisse.png);
  }
  60% {
    height: 50px;
    width: 44px;
    background-image: url(./images/gojoBaisse.png);
  }
  80% {
    background-image: url(./images/gojoJump1.png);
    width: 48px;
    height: 75px;
  }
  100% {
    background-image: url(./images/gojoJump2.png);
    width: 53px;
    height: 90px;
  }
}
